{% extends "base.html" %}
{% load static %}

{% block title %}
  Turn-In: {% if course %}{{ course.name }}: {{ nav_item }}{% else %}Create course{% endif %}
{% endblock %}

{% block head %}
  <script type="text/javascript">
    $(document).ready(function () {
      $("#id_students").selectize();
      $("#id_teacher").selectize();

      function togglePermission() {
        if ($('#id_archived').is(':checked')) {
          $("#permission").fadeTo(100, 1);
        } else {
          $("#permission").fadeTo(100, 0);
        }
      }
      $("#id_archived").on("change", togglePermission);
      // decide if it should be checked or not initially
      togglePermission();
    });
  </script>
{% endblock %}

{% block main %}

  <h2>{% if course %}{{ course.name }}: {{ nav_item }}{% else %}Create course{% endif %}</h2>

  <form action="" method="post">
    {% csrf_token %}
    <div class="tbl">
      {% for field in form %}
      <div class="tbl-row" {% if field.name == "permission" %} id="{{ field.name }}" {% endif %}>
          <span class="tbl-cell bold" style="vertical-align:middle;padding-right:5px;">{{ field.label_tag }}</span>
          <span class="tbl-cell form-input">{{ field }}</span>
        </div>
      {% endfor %}
    </div>
    <input class="tin-btn" type="submit" value="{% if course %}Save{% else %}Create{% endif %}">
  </form>

{% endblock %}
