{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/selectize/selectize.default.css' %}" />
  <script type="text/javascript" src="{% static 'vendor/selectize/selectize.min.js' %}"></script>
  <script type="text/javascript">
        $(document).ready(function() {
            $("#id_students").selectize();
        });
    </script>
{% endblock %}
{% block main %}

<h2>{% block title %}Turn-In: {% if action == "add" %}New course{% else %}Edit course {{ course.name }}{% endif %}{% endblock %}</h2>
<form action="/courses/{{ action }}{% if id %}{{ id }}{% endif %}/" method="post">
  <table>
  {% csrf_token %}
  {{ form.as_table }}
  </table>
<input type="submit" value="Create">
</form>

{% endblock %}

