{% extends "base.html" %}

{% block main %}

<h2>Courses</h2>
<ul id="course-list">
{% for course in courses %}
  <li>
    <a href="{% url 'courses:show' course.id %}">{{ course.name }}</a>
    <div class="list-info">
      Teacher: {{ course.teacher.full_name }}<br>
      {% if course.students.count == 1 %}
        1 student
      {% else %}
        {{ course.students.count }} students
      {% endif %}
    </div>
  </li>
{% endfor %}
</ul>

{% if request.user.is_superuser %}
<h2>Administration</h2>
<a href="/admin">Django Administrative Interface</a>
{% endif %}

{% endblock %}

