{% extends "base.html" %}

{% block main %}

<div class="header">
  <h2 class="left">Courses</h2>
  {% if request.user.is_teacher %}
  <a class="right tin-btn" style="height:min-content;margin-top:auto;margin-bottom:auto;" href="{% url 'courses:create' %}">New course</a>
  {% endif %}
</div>
<ul id="course-list">
{% for course in courses %}
  <li>
    <div class="left">
      <a href="{% url 'courses:show' course.id %}">{{ course.name }}</a>
    </div>
    <div class="right">
      Teacher: {{ course.teacher.full_name }}<br>
      {{ course.students.count }} student{{ course.students.count | pluralize }}
    </div>
  </li>
{% endfor %}
</ul>

{% if request.user.is_superuser %}
  <h2>Administration</h2>
  <a href="/admin">Django Administrative Interface</a>
{% endif %}

{% endblock %}

