{% extends "base.html" %}
{% load static %}

{% block main %}

  <div class="header">
    <h2 class="left">Courses</h2>
  </div>

  <ul id="course-list">
    {% for course in courses %}
      <li>
        <div class="left">
          <a href="{% url 'courses:show' course.id %}">{{ course.name }}</a>
          {% if course in courses_with_unsubmitted_assignments %}
            <br>
            <span class="italic">Unsubmitted assignments</span>
          {% endif %}
        </div>
        <div class="right">
          Teachers: {{ course.get_teacher_str }}<br>
          {{ course.students.count }} student{{ course.students.count | pluralize }}
        </div>
      </li>
    {% empty %}
      <li>
        <div class="left">
          <p>No courses to show</p>
        </div>
      </li>
    {% endfor %}
    {% if request.user.is_teacher or request.user.is_superuser %}
      <li>
        <div>
          <a class="tin-btn" href="{% url 'courses:create' %}">New course</a>
          <a class="tin-btn" href="{% url 'submissions:filter' %}">Filter submissions</a>
          <a class="tin-btn" href="{% url 'venvs:index' %}">Manage virtual environments</a>
          <a href="{% url 'docs:index' %}" class="tin-btn"><i class="fa fa-book"></i> Tin documentation</a>
        </div>
      </li>
    {% endif %}
  </ul>

  {% if request.user.is_student %}
    <h2>Due in the next week</h2>
    <ul id="course-list">
      {% for assignment in due_soon_assignments %}
        <li>
          <div class="left">
            <a href="{% url "assignments:show" assignment.id %}">{% if assignment.is_quiz %}
              [QUIZ] {% endif %}{{ assignment.name }} &mdash; {{ assignment.course.name }}</a>{% if assignment.hidden %}
            <i> (Hidden)</i>{% endif %}
          </div>
          <div class="right">
            <span class="italic">Due {{ assignment.due }}</span>
            <a href="{% url "assignments:submit" assignment.id %}" class="tin-btn">Submit</a>
          </div>
        </li>
      {% empty %}
        <li>
          <div class="left">
            Nothing's due in the next week.
          </div>
        </li>
      {% endfor %}
    </ul>
    <h2>To Do</h2>
    <ul id="course-list">
      {% for assignment in unsubmitted_assignments %}
        <li>
          <div class="left">
            <a href="{% url "assignments:show" assignment.id %}">{% if assignment.is_quiz %}
              [QUIZ] {% endif %}{{ assignment.name }} &mdash; {{ assignment.course.name }}</a>{% if assignment.hidden %}
            <i> (Hidden)</i>{% endif %}
          </div>
          <div class="right">
            <span class="italic">Due {{ assignment.due }}</span>
            <a href="{% url "assignments:submit" assignment.id %}" class="tin-btn">Submit</a>
          </div>
        </li>
      {% empty %}
        <li>
          <div class="left">
            You're all caught up!
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if request.user.is_superuser %}
    <h2>Administration</h2>
    <p><a class="tin-btn" href="/admin">Django Administrative Interface</a></p>

    <form method="post" action="{% url 'submissions:set_aborted_complete' %}">
      {% csrf_token %}
      <input type="submit" value="Mark all aborted submissions as complete">
    </form>

    <form method="post" action="{% url 'submissions:set_past_timeout_complete' %}">
      {% csrf_token %}
      <input type="submit" value="Mark all submissions that have passed the grader timeout as complete">
    </form>
  {% endif %}

{% endblock %}
