{% extends "base.html" %}
{% load static %}

{% block title %}
  Turn-In: {{ course.name }}: Import assignments
{% endblock %}

{% block main %}

  <h2>{{ course.name }}: Import assignments</h2>

  {% if form.errors %}
    <h3 class="errors">Please correct the errors below.</h3>
    <ul class="errors">
      {% for field in form %}
        {% for error in field.errors %}
          <li>{{ field.label }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}
    <div class="tbl">
      {% for field in form %}
        <div class="tbl-row">
          <span class="tbl-cell bold" style="vertical-align:top;padding-right:5px;">{{ field.label_tag }}</span>
          <span class="tbl-cell form-input"{% if field.help_text %} style="padding-bottom:5px"{% endif %}>{{ field }}
            {% if field.help_text %}<br>{{ field.help_text }}{% endif %}</span>
        </div>
      {% endfor %}
    </div>
    <input type="submit" value="Continue">
  </form>

{% endblock %}
