{% extends "base.html" %}

{% block title %}Turn-In: {{ course.name }}{% endblock %}

{% block main %}
<div class="header">
  <h2 class="left">Course: {{ course.name }}</h2>
  <a class="right" style="height:min-content;margin-top:auto;margin-bottom:auto;" href="{% url 'courses:edit' course.id %}">Edit</a>
</div>
<p>
  Teacher: {{ course.teacher.full_name }}<br>
  {{ course.students.count }} student{{ course.students.count | pluralize }}
</p>

<ul id="assignment-list">
{% for assignment in assignments %}
  <li>
    <a class="left" href="{% url 'assignments:show' assignment.id %}">{{ assignment.name }}</a>
    <div class="right">
      Due: {{ assignment.due }}<br>
      Points possible: {{ assignment.points_possible }}
    </div>
  </li>
{% endfor %}
</ul>
{% endblock %}

