{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Turn-In{% endblock %}</title>
  <link rel="icon" href="{% static 'img/logos/logo-mark-black.svg' %}" type="image/svg+xml" sizes="any">
  <link rel="icon" href="{% static 'img/logos/logo-mark-black-50.png' %}" type="image/png" sizes="50x50">
  <link rel="icon" href="{% static 'img/logos/logo-mark-black-25.png' %}" type="image/png" sizes="25x25">
  <link rel="icon" href="{% static 'img/logos/logo-mark-black-50.ico' %}" type="image/x-icon" sizes="50x50">
  <link rel="icon" href="{% static 'img/logos/logo-mark-black-25.ico' %}" type="image/x-icon" sizes="25x25">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700"/>
  <link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui-1.12.1.min.css' %}"/>
  <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-ui/jquery-ui-1.12.1.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/selectize/selectize.default.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/highlight/styles/default.css' %}">
  <script src="{% static 'vendor/highlight/highlight.pack.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script type="text/javascript" src="{% static 'vendor/selectize/selectize.min.js' %}"></script>
  <script>$(function () {
      $(".continuous-progress").css({height: "15px"}).progressbar({value: false})
  });</script>
  {% block head %}{% endblock %}
</head>

<body>
<div id="content">
  <div id="main">
    {% block main %}
    {% endblock %}
  </div>
</div>
</body>

</html>
