{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Turn-In{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700" />
  <link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui-1.12.1.min.css' %}" />
  <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-ui/jquery-ui-1.12.1.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/selectize/selectize.default.css' %}" />
  <script type="text/javascript" src="{% static 'vendor/selectize/selectize.min.js' %}"></script>
  <script>$(function(){$(".continuous-progress").css({height: "15px"}).progressbar({value: false})});</script>
  {% block head %}{% endblock %}
</head>
<body>
  <div id="nav">
    <ul>
      <li><a href="{% url 'auth:index' %}"><h1>Turn-In</h1></a></li>
      {% if request.user.is_authenticated %}
        {% if course %}
          <li><i class="fa fa-chevron-right"></i></li>
          <li><a href="{% url 'courses:show' course.id %}">{{ course.name }}</a></li>
          {% if assignment %}
            <li><i class="fa fa-chevron-right"></i></li>
            <li><a href="{% url 'assignments:show' assignment.id %}">{{ assignment.name }}</a></li>
            {% if student %}
              <li><i class="fa fa-chevron-right"></i></li>
              <li><a href="{% url 'assignments:student_submission' assignment.id student.id %}">{{ student.full_name }}</a></li>
            {% endif %}
            {% if submission %}
              <li><i class="fa fa-chevron-right"></i></li>
              <li><a href="{% url 'submissions:show' submission.id %}">Submission #{{ submission_number }}</a></li>
            {% endif %}
          {% endif %}
        {% endif %}
        {% if docs_app %}
          <li><i class="fa fa-chevron-right"></i></li>
          <li><a href="{% url 'docs:index' %}">Docs</a></li>
        {% endif %}
        {% if nav_item %}
          <li><i class="fa fa-chevron-right"></i></li>
          <li><a href="">{{ nav_item }}</a></li>
        {% endif %}
        <li class="right"><i class="fa fa-sign-out"></i><a href="{% url 'auth:logout' %}">Logout ({{ request.user.username }})</a></li>
      {% endif %}
    </ul>
  </div>
  <div id="content">
    <div id="main">
      {% block main %}
      {% endblock %}
    </div>
    <div id="footer">
      <footer>
        {% block footer %}
          Developed by John Beutner and Theo Ouzhinski. Questions? Email <a href="mailto:{{ DEVELOPER_EMAIL }}">{{ DEVELOPER_EMAIL }}</a>
        {% endblock %}
      </footer>
    </div>
  </div>
</body>
</html>
