{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Turn-In{% endblock %}</title>

  <!-- Favicon Tags (https://realfavicongenerator.net/) -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#4fab4f">
  <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
  <meta name="msapplication-TileColor" content="#4fab4f">
  <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
  <meta name="theme-color" content="#4fab4f">

  {% comment "Old Favicon Tags" %}
  <link rel="icon" href="{% static 'img/logos/logo-mark-black.svg' %}" type="image/svg+xml" sizes="any">
  <link rel="icon" href="{% static 'img/logos/logo-mark-black-50.png' %}" type="image/png" sizes="50x50">
  <link rel="icon" href="{% static 'img/logos/logo-mark-black-25.png' %}" type="image/png" sizes="25x25">
  <link rel="icon" href="{% static 'img/logos/logo-mark-black-50.ico' %}" type="image/x-icon" sizes="50x50">
  <link rel="icon" href="{% static 'img/logos/logo-mark-black-25.ico' %}" type="image/x-icon" sizes="25x25">
  {% endcomment %}

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700"/>
  <link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui-1.12.1.min.css' %}"/>
  <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-ui/jquery-ui-1.12.1.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/selectize/selectize.default.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/highlight/styles/default.min.css' %}">
  <script src="{% static 'vendor/highlight/highlight.min.js' %}"></script>
  <script src="{% static 'vendor/highlight/highlightjs-line-numbers.min.js' %}"></script>
  <script>
      hljs.highlightAll();
      hljs.initLineNumbersOnLoad();
  </script>
  <script type="text/javascript" src="{% static 'vendor/selectize/selectize.min.js' %}"></script>
  <script>
      $(function () {
          $(".continuous-progress").css({height: "15px"}).progressbar({value: false})
      });
  </script>
  {% block head %}{% endblock %}
</head>

<body>
<div id="content">
  <div id="main">
    {% block main %}
    {% endblock %}
  </div>
</div>
</body>

</html>
