{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}Turn-In{% endblock %}</title>

  {% include "meta.html" %}

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
          integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/themes/base/jquery-ui.min.css"
        integrity="sha512-8PjjnSP8Bw/WNPxF6wkklW6qlQJdWJc/3w/ZQPvZ/1bjVDkrrSqLe9mfPYrMxtnzsXFPc434+u4FHLnLjXTSsg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js"
          integrity="sha512-Ww1y9OuQ2kehgVWSD/3nhgfrb424O3802QYP/A5gPXoM4+rRjiKrjHdGxQKrMGQykmsJ/86oGdHszfcVgUr4hA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
        integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
          integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
        integrity="sha512-hasIneQUHlh06VNBe7f6ZcHmeRTLIaQWFd43YriJ0UND19bvYRauxthDg8E4eVNPm9bRUhr5JGeqH7FRFXQu5g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
          integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"
          integrity="sha512-axd5V66bnXpNVQzm1c7u1M614TVRXXtouyWCE+eMYl8ALK8ePJEs96Xtx7VVrPBc0UraCn63U1+ARFI3ofW+aA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
      hljs.highlightAll();
      hljs.initLineNumbersOnLoad();
  </script>
  <script>
      $(function () {
          $(".continuous-progress").css({height: "15px"}).progressbar({value: false})
      });
  </script>
  {% block head %}{% endblock %}
</head>

<body>

<div id="nav">
  <ul class="no-list">
    <li><a href="{% url 'auth:index' %}"><h1><span class="logo"></span>Turn-In</h1></a></li>
    {% if request.user.is_authenticated %}
      {% if course %}
        <li><i class="fa fa-chevron-right"></i></li>
        <li><a href="{% url 'courses:show' course.id %}">{{ course.name }}</a></li>
        {% if folder %}
          <li><i class="fa fa-chevron-right"></i></li>
          <li><a href="{% url 'assignments:show_folder' course.id folder.id %}">{{ folder.name }}</a></li>
        {% endif %}
        {% if assignment %}
          <li><i class="fa fa-chevron-right"></i></li>
          <li><a href="{% url 'assignments:show' assignment.id %}">{% if assignment.is_quiz %}
            [QUIZ] {% endif %}{{ assignment.name }}</a></li>
          {% if student %}
            <li><i class="fa fa-chevron-right"></i></li>
            <li><a
              href="{% url 'assignments:student_submission' assignment.id student.id %}">{{ student.full_name }}</a>
            </li>
          {% endif %}
          {% if submission %}
            <li><i class="fa fa-chevron-right"></i></li>
            <li><a href="{% url 'submissions:show' submission.id %}">Submission #{{ submission_number }}</a></li>
          {% endif %}
        {% endif %}
      {% endif %}
      <li><i class="fa fa-chevron-right"></i></li>
      <li><a href="https://tjcsl.github.io/tin/">Docs</a></li>
      {% if venvs_app %}
        <li><i class="fa fa-chevron-right"></i></li>
        <li><a href="{% url 'venvs:index' %}">Virtual Environments</a></li>
      {% endif %}
      {% if nav_item %}
        <li><i class="fa fa-chevron-right"></i></li>
        <li><a href="">{{ nav_item }}</a></li>
      {% endif %}
      <li class="right"><i class="fa fa-sign-out"></i><a href="{% url 'auth:logout' %}">Logout
        ({{ request.user.username }})</a></li>
    {% endif %}
  </ul>
</div>

<div id="content">
  <div id="main">
    {% block main %}
    {% endblock %}
  </div>
  <div id="footer">
    <footer>
      {% block footer %}
        Turn-In is <a href="{{ REPO_URL }}" target="_blank">open source software</a>
        developed by Krishnan Shankar, John Beutner, and Theo Ouzhinski.
        Questions? Email <a href="mailto:{{ DEVELOPER_EMAIL }}">{{ DEVELOPER_EMAIL }}</a>
      {% endblock %}
    </footer>
  </div>
</div>

</body>

</html>
