{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block main %}

  <div class="login-box">
    <a href="{% url 'social:begin' 'ion' %}{% if request.GET.next %}?next={{ request.GET.next | urlencode }}{% endif %}"
       class="btn btn-ion">Log in with Ion</a>
    {% if debug %}
      <br/>
      <a href="
        {% url 'auth:password_login' %}{% if request.GET.next %}?next={{ request.GET.next | urlencode }}{% endif %}"
         class="btn btn-ion">Password login</a>
    {% endif %}
  </div>

{% endblock %}
