{% load static %}

<meta charset="utf-8">

<!-- Favicon Tags (https://realfavicongenerator.net/) -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#4fab4f">
<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
<meta name="apple-mobile-web-app-title" content="Turn-In">
<meta name="application-name" content="Turn-In">
<meta name="msapplication-TileColor" content="#4fab4f">
<meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
<meta name="theme-color" content="#4fab4f">

{% comment "Old Favicon Tags" %}
<link rel="icon" href="{% static 'img/logos/logo-mark-black.svg' %}" type="image/svg+xml" sizes="any">
<link rel="icon" href="{% static 'img/logos/logo-mark-black-50.png' %}" type="image/png" sizes="50x50">
<link rel="icon" href="{% static 'img/logos/logo-mark-black-25.png' %}" type="image/png" sizes="25x25">
<link rel="icon" href="{% static 'img/logos/logo-mark-black-50.ico' %}" type="image/x-icon" sizes="50x50">
<link rel="icon" href="{% static 'img/logos/logo-mark-black-25.ico' %}" type="image/x-icon" sizes="25x25">
{% endcomment %}
