{% extends 'base.html' %}

{% block main %}
<h1>{% block title %}Password login{% endblock %}</h1>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'auth:password_login' %}">
{% csrf_token %}
<div class="tbl">
  <div class="tbl-row">
    <span class="tbl-cell" style="padding-right:5px;">{{ form.username.label_tag }}</span>
    <span class="tbl-cell">{{ form.username }}</span>
  </div>
  <div class="tbl-row">
    <span class="tbl-cell" style="padding-right:5px;">{{ form.password.label_tag }}</span>
    <span class="tbl-cell">{{ form.password }}</span>
  </div>
</div>

<input type="submit" value="Login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}
