[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
channels = "~=4.1"
daphne = "~=4.1"
gunicorn = "~=22.0"
social-auth-app-django = "~=5.4"
requests = "~=2.32"
psutil = "~=5.9"
celery = "~=5.4.0"  # warning: doesn't use semantic versioning (lock minor version)
django-celery-results = "~=2.5"
django-markdownify = "~=0.9"  # includes the markdown package
psycopg = "~=3.1"
virtualenv = "~=20.26"
redis = "~=5.0"
channels-redis = "~=4.2"
django-extensions = "~=3.2"
ipython = "~=8.24.0"  # warning: doesn't use semantic versioning (lock minor version)
mosspy = "~=1.0"
django-debug-toolbar = "~=4.4"

[dev-packages]
pytest-django = "~=4.8"
pytest-xdist = "~=3.6"
django-stubs = "*"
pre-commit = "*"
typing-extensions = "*"
sphinx = "*"
furo = "*"
myst-parser = "*"
sphinx-copybutton = "*"
sphinxcontrib-django = "*"
beautifulsoup4 = "~=4.12"
lxml = "~=5.2"

[ci]
pytest-cov = "*"

[requires]
python_version = "3.11"
