[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
channels = "~=4.1"
daphne = "~=4.1"
gunicorn = "~=22.0"
social-auth-app-django = "~=5.4"
requests = "~=2.31"
psutil = "~=5.9"
celery = "~=5.3.5"  # Celery v5.4 may stop supporting Python 3.8
django-celery-results = "~=2.5"
django-markdownify = "~=0.9"  # includes the markdown package
psycopg = "~=3.1"
virtualenv = "~=20.26"
redis = "~=5.0"
channels-redis = "~=4.2"
django-extensions = "~=3.2"
ipython = "~=8.12.3"  # IPython follows NEP 29, so v8.13 does not support Python 3.8
mosspy = "~=1.0"
django-debug-toolbar = "~=4.3"

[dev-packages]
django-stubs = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
