[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.7.9"
pylint = "~=2.4.4"
isort = "~=4.3.21"
black = "~=19.10b0"
autopep8 = "~=1.4.4"
pylint-django = "~=2.0.12"

[packages]
django = "~=2.2.7"
channels = "~=2.3.1"
daphne = "~=2.4.0"
gevent = "~=1.4.0"
gunicorn = "~=20.0.0"
social-auth-app-django = "~=3.1.0"
requests = "~=2.22.0"
psutil = "~=5.6.5"
celery = "~=4.3.0"
django-celery-results = "~=1.1.2"
psycopg2 = "~=2.8.4"
sentry-sdk = "~=0.13.2"
aiocontextvars = {version = "~=0.2.2",markers = "python_version < '3.7'"}
virtualenv = "~=16.7.7"
channels-redis = "~=2.4.1"
ipython = "~=7.9.0"
django-extensions = "~=2.2.5"

[pipenv]
allow_prereleases = true
