#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #77aa77;
}
#nav ul {
  margin: 0px;
}
#nav ul li {
  float: left;
  list-style-type: none;
  position: relative;
}
#nav ul li a {
  text-decoration: none;
}
#nav ul li a h1 {
  font-size: 25px;
  line-height: 25px;
  margin: 6px 30px 9px 0px;
  color: white;
  font-weight: normal;
}

body {
  margin-top: 40px;
  padding: 5px 26px 10px 26px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
}

#main {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.tbl {
    display: table;
}
.tbl-row {
    display: table-row;
}
.tbl-cell {
    display: table-cell;
}
