.dropdown {
  padding: 0;
  width: 100%;
  margin: 0;
}

#archive-courses-toggle {
  cursor: pointer;
  width: 130px;
  display: inline-block;
  text-align: right;
}

#archive-courses-toggle:hover {
  text-decoration: none;
}

ul#archive-list {
  padding-left: 30px;
}
