{% extends "base.html" %}

{% block title %}
  {% if not action %}
    Create a File Action
  {% else %}
    Edit File Action: {{ action.name | title }}
  {% endif %}
{% endblock %}

{% block head %}
  <style>
    #id_description {
      resize: vertical;
    }
  </style>
{% endblock %}

{% block main %}
    {% if action %}
      <h2>Edit File Action: <span class="italic">{{ action.name | title }}</span></h2>
    {% else %}
      <h2>Create a File Action</h2>
    {% endif %}

    {% if action and action.courses.count > 1 %}
      <p>
        You are modifying a file action that is used in multiple courses.
        <strong>Any changes you make will affect all courses that use this file action.</strong>
        <br>
        Consider <a class="link" href="{% url 'assignments:create_file_action' course.id %}?action={{ action.id }}&copy=1">making a copy</a>.
      </p>
    {% endif %}

    <p>For an explanation of what file actions are, and how to use them, check out <a href="https://tjcsl.github.io/tin">Tin's documentation</a></p>

    {% if form.errors %}
      <h3 class="errors">Please correct the following errors:</h3>
      <ul class="errors">
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ field.label }}: {{ error }}</li>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="post" action="{% url 'assignments:create_file_action' course.id %}?action={{ action.id }}">
      {% csrf_token %}
      <div class="tbl">
        {% for field in form %}
        <div class="tbl-row">
            <span class="tbl-cell bold" style="padding-right:5px;min-width:200px;">{{ field.label_tag }}</span>
            <span class="tbl-cell form-input">{{ field }}{% if field.help_text %}<br>{{ field.help_text }}{% endif %}</span>
          </div>
        {% endfor %}
      </div>

      {% if request.GET.copy %}
        <input type="hidden" value="1" name="copy">
      {% endif %}

      <input type="submit" value="{% if action %}Save{% else %}Create{% endif %}" />
    </form>
{% endblock main %}
