{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/datetimepicker/jquery.datetimepicker.css' %}" />
  <script type="text/javascript" src="{% static 'vendor/datetimepicker/jquery.datetimepicker.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#id_due").datetimepicker({
        lazyInit: true,
        timepicker: true,
        format: "Y-m-d H:i:s",
      });
    });
  </script>
{% endblock %}

{% block title %}Turn-In: {{ course.name }}: {% if action == "add" %}Create assignment{% else %}{{ assignment.name }}{% endif %}{% endblock %}

{% block main %}
<h2>{{ course.name }}: {% if action == "add" %}Create assignment{% else %}{{ assignment.name }}{% endif %}</h2>
<form action="" method="post">
  {% csrf_token %}
  <div class="tbl">
    {% for field in assignment_form %}
      <div class="tbl-row">
        <span class="tbl-cell bold" style="vertical-align:middle;padding-right:5px;">{{ field.label_tag }}</span>
        <span class="tbl-cell">{{ field }}</span>
      </div>
    {% endfor %}
  </div>
  {% if not grader_form %}
    <div>Note: You'll be able to upload a grader script after you create the assignment.</div>
  {% endif %}
  <input type="submit" value="{% if action == "add" %}Create{% else %}Save{% endif %}">
</form>
{% endblock %}

