{% extends "base.html" %}

{% block main %}
  {% if cap %}
    <h1>Editing Submission Cap</h1>
  {% else %}
    <h1>Creating Submission Cap</h1>
  {% endif %}
  <h2>{{ name }}</h2>

  <form method="post">
    {% csrf_token %}

    {{ form.errors }}
    <div class="tbl">
      {% for field in form.visible_fields %}
        <div class="tbl-row">
          <span class="tbl-cell bold" style="padding-right:5px;min-width:200px;">{{ field.label_tag }}</span>
          <span class="tbl-cell form-input">{{ field }}{% if field.help_text %}<br>{{ field.help_text }}{% endif %}</span>
        </div>
      {% endfor %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}
    </div>
    <input class="tin-btn" type="submit" value="{% if override %}Save{% else %}Create{% endif %}">
  </form>

  <br>
  <a href="{% url 'assignments:submission_cap' assignment.id %}" class="tin-btn">Back</a>
{% endblock %}
