{% extends "base.html" %}
{% load static %}

{% block title %}
  Turn-In: {% if assignment.is_quiz %}[QUIZ] {% endif %}{{ assignment.name }}: Manage files
{% endblock %}

{% block main %}

  <h2>{% if assignment.is_quiz %}[QUIZ] {% endif %}{{ assignment.name }}: Manage files</h2>

  <table class="has-border">
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Last Modified</th>
    </tr>
    {% if files is not None %}
      {% for id, filename, path, size, modified in files %}
        <tr>
          <td>{{ filename }}</td>
          <td>{{ size | filesizeformat }}</td>
          <td>{{ modified }}</td>
          <td><a href="{% url 'assignments:download_file' assignment.id id %}">Download</a></td>
          <td><a style="color:red;" href="{% url 'assignments:delete_file' assignment.id id %}">Delete</a></td>
        </tr>
      {% empty %}
        <tr class="italic">
          <td colspan="4">No uploaded files</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr class="italic">
        <td colspan="4">An error occurred while listing uploaded files. Please try again.</td>
      </tr>
    {% endif %}
  </table>

  <h4 style="color:red;">{{ file_errors }}</h4>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="tbl">
      {% for field in form %}
        <div class="tbl-row">
          <span class="tbl-cell bold" style="vertical-align:middle;padding-right:5px;">{{ field.label_tag }}</span>
          <span class="tbl-cell form-input">{{ field }}</span>
        </div>
      {% endfor %}
    </div>
    <input type="submit" value="Upload">
  </form>


  {% if actions or assignment.last_action_output %}
    <h2 style="border-top:1px solid lightgray;padding-top:15px;">File actions</h2>
    {% for action in actions %}
      <a class="left tin-btn" href="{% url 'assignments:file_action' assignment.id action.id %}">{{ action.name }}</a>
    {% empty %}
      <p class="italic">No actions available</p>
    {% endfor %}
    {% if assignment.last_action_output %}
      <h3>Last action output</h3>
      <pre><code class="nohljsln">{{ assignment.last_action_output }}</code></pre>
    {% endif %}
  {% endif %}

  <a class="left tin-btn" href="{% url 'assignments:choose_file_action' assignment.course.id %}">Explore File Actions</a>

{% endblock %}
