{% extends "base.html" %}
{% load static %}

{% block title %}Turn-In: {{ course.name }}: {{ assignment.name }}{% endblock %}

{% block head %}
  <script src="{% static 'vendor/js.cookie-2.2.1.min.js' %}"></script>

  {% if latest_submission %}
    <script src="{% static 'js/incomplete.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/upload-dragdrop.js' %}"></script>
  <script>
   var assignment_submit_url = "{% url 'assignments:submit' assignment.id %}";
  </script>
{% endblock %}

{% block main %}
<div class="header">
  <h2 class="left">{{ assignment.name }}</h2>
  {% if request.user.is_teacher or request.user.is_superuser %}
    <a class="right tin-btn" href="{% url 'assignments:edit' assignment.id %}">Edit</a>
    <a class="right tin-btn" href="{% url 'assignments:upload_grader' assignment.id %}"{% if not assignment.grader_file %} style="color:#EF1010;"{% endif %}>Upload grader</a>
    {% if log_file_exists %}
      <a class="right tin-btn" href="{% url 'assignments:download_log' assignment.id %}">Download log</a>
    {% endif %}
  {% endif %}
  {% if request.user.is_student %}
    <a class="right tin-btn" href="{% url 'assignments:submit' assignment.id %}">Submit</a>
  {% endif %}
</div>
{{ assignment.description|linebreaks }}

<table id="assignment-info">
  <tr>
    <th>Points possible:</th>
    <td>{{ assignment.points_possible }}</td>
  </tr>
  <tr>
    <th>Due:</th>
    <td>{{ assignment.due }}</td>
  </tr>
  {% if request.user.is_student %}
    <tr>
      <th>Grade:</th>
      {% if latest_submission %}
        <td id="grade" class="{% if not latest_submission.complete %}incomplete{% endif %}" data-endpoint="{% url 'submissions:show_json' latest_submission.id %}" data-endpoint-key="formatted_grade">
          {% if not latest_submission.has_been_graded %}
            <span class="result-not-graded italic">Not graded</span>
          {% else %}
            {{ latest_submission.formatted_grade }}
          {% endif %}
        </td>
      {% else %}
        <td class="italic">Not submitted</td>
      {% endif %}
    </tr>
  {% endif %}
</table>

{% if request.user.is_student %}
  {% if latest_submission %}
    <h3 style="border-top:1px solid lightgray;padding-top:15px;">Grader output</h3>
    <div id="grader-output" class="code-result{% if not latest_submission.complete %} incomplete{% endif %}" data-endpoint="{% url 'submissions:show_json' latest_submission.id %}" data-endpoint-key="grader_output">
      <div class="result">
        <code><pre>{{ latest_submission.grader_output }}</pre></code>
     </div>
     {% if not latest_submission.complete %}
       <div class="continuous-progress"></div>
     {% endif %}
    </div>
    {% if request.user.is_superuser %}
      <h3 style="border-top:1px solid lightgray;padding-top:15px;">Grader errors</h3>
      <div id="grader-errors" class="code-result{% if not latest_submission.complete %} incomplete{% endif %}" data-endpoint="{% url 'submissions:show_json' latest_submission.id %}" data-endpoint-key="grader_errors">
        <div class="result">
          <code><pre>{{ latest_submission.grader_errors }}</pre></code>
       </div>
       {% if not latest_submission.complete %}
         <div class="continuous-progress"></div>
       {% endif %}
      </div>
    {% endif %}

    {% if not latest_submission.complete %}
      <div class="conditional-result incomplete italic" data-endpoint="{% url 'submissions:show_json' latest_submission.id %}" data-endpoint-key="kill_requested"{% if not latest_submission.kill_requested %} style="display: none"{% endif %} data-hide-when-complete="true">
        <br>
        This submission is in the process of being killed. This should complete within 15 seconds. If it does not, please email the tin administrators.
      </div>

      {% if not latest_submission.kill_requested %}
        <div class="conditional-result incomplete" data-endpoint="{% url 'submissions:show_json' latest_submission.id %}" data-endpoint-key="kill_requested" data-result-negate="true"{% if latest_submission.kill_requested %} style="display: none"{% endif %} data-hide-when-complete="true">
          <br>
          {% csrf_token %}
          <form method="post" action="{% url 'submissions:kill' latest_submission.id %}?next={{ request.get_full_path|urlencode }}">
            {% csrf_token %}
            <input type="submit" value="Kill submission">
          </form>
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}

{% if request.user.is_student %}
<h3 style="border-top:1px solid lightgray;padding-top:15px;">{% if request.user.is_superuser %}Your submissions{% else %}Submissions{% endif %}</h3>
<table id="submission-list" class="has-border">
  <tr>
    <th style="min-width:125px;">Date submitted</th>
    <th style="min-width:65px;">On time?</th>
    <th style="min-width:80px;">Completed?</th>
    <th style="min-width:90px;">Grade</th>
  </tr>
  {% for submission in submissions %}
    <tr>
      <td><a href="{% url 'submissions:show' submission.id %}">{{ submission.date_submitted }}</a></td>
      <td>{% if submission.is_on_time %}Yes{% else %}No{% endif %}</td>
      <td class="{% if submission == latest_submission and not submission.complete %}incomplete{% endif %}" data-endpoint="{% url 'submissions:show_json' submission.id %}" data-endpoint-key="complete">
        {% if submission.complete %}Yes{% else %}No{% endif %}
      </td>
      <td id="grade" class="{% if submission == latest_submission and not submission.complete %}incomplete{% endif %}" data-endpoint="{% url 'submissions:show_json' submission.id %}" data-endpoint-key="formatted_grade">
        {% if not submission.has_been_graded %}
          <span class="result-not-graded italic">Not graded</span>
        {% else %}
          {{ submission.formatted_grade }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}

  {% if not submissions %}
    <tr>
      <td colspan="4" class="italic center">No submissions</td>
    </tr>
  {% endif %}
</table>
{% endif %}

{% if not request.user.is_student or request.user.is_superuser %}
<h3 style="border-top:1px solid lightgray;padding-top:15px;">{% if request.user.is_student %}All submissions{% else %}Submissions{% endif %}</h3>
<table id="submission-list" class="has-border">
  <tr>
    <th style="min-width:125px">Student</th>
    <th style="min-width:125px;">Last submission date</th>
    <th style="min-width:65px;">On time?</th>
    <th style="min-width:80px;">Completed?</th>
    <th style="min-width:75px;">Grade</th>
  </tr>
  {% for student, submission in students_and_submissions %}
  <tr>
    <td><a href="{% url 'assignments:student_submission' assignment.id student.id %}">{{ student.full_name }} ({{ student.username }})</a></td>
    {% if submission %}
      <td>{{ submission.date_submitted }}</td>
      <td>{% if submission.is_on_time %}Yes{% else %}No{% endif %}</td>
      <td>{% if submission.complete %}Yes{% else %}No{% endif %}</td>
      <td>
        {% if submission.has_been_graded %}
        {{ submission.formatted_grade }}
        {% else %}
        <span class="italic">Not graded</span>
        {% endif %}
      </td>
    {% else %}
      <td colspan="5" class="italic center">No submissions</td>
    {% endif %}
  </tr>
  {% endfor %}

  {% if not students_and_submissions %}
    <tr>
      <td colspan="5" class="italic center">No students in class</td>
    </tr>
  {% endif %}
</table>
{% endif %}

{% if request.user.is_teacher or request.user.is_superuser %}
  <h3 style="border-top:1px solid lightgray;padding-top:15px;">Administration</h3>
  <a class="left tin-btn" href="{% url 'assignments:scores_csv' assignment.id %}">Export Scores</a>

  <br>
  <br>
  <h3 style="margin-bottom: 0px">Virtual environment</h3>
  {% if assignment.venv_fully_created %}
    <p>A virtual environment has been created for this assignment. You can see details and manage it <a href="{% url 'venvs:show' assignment.venv.id %}">here</a>.</p>
  {% elif assignment.venv_object_created %}
    <p>A virtual environment is being created for this assignment. This may take a minute or two (you will have to refresh the page to see the updated status).</p>
    <p>If this process takes more than a few minutes, please contact the Tin maintainers.</p>
  {% else %}
    <form method="post" action="{% url 'venvs:create-for-assignment' assignment.id %}">
      {% csrf_token %}
      <input type="submit" value="Create a virtual environment for this assignment">
    </form>
    <p>If you already clicked this button to create a virtual environment, but you are seeing this message anyway, try waiting a few seconds and refreshing the page. If you still see this message, please contact the Tin maintainers.</p>
  {% endif %}
{% endif %}

{% endblock %}

