{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Turn-In: {{ assignment.name }} - {{ student.full_name }}{% endblock %}

{% block main %}
<h2>{{ assignment.name }} &mdash; {{ student.full_name }} ({{ student.username }})</h2>

<table id="assignment-info">
  <tr>
    <th>On time?</th>
    <td>
      {% if not latest_submission %}
      <span class="italic">Not yet submitted</span>
      {% elif latest_submission.is_on_time %}
      Yes
      {% else %}
      No
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Grade:</th>
    <td>
      {% if not latest_submission %}
      <span class="italic">Not yet submitted</span>
      {% elif not latest_submission.has_been_graded %}
      <span class="italic">Not graded yet</span>
      {% else %}
      {{ latest_submission.points_received }}/{{ latest_submission.points_possible }} ({{ latest_submission.grade_percent }})
      {% endif %}
    </td>
  </tr>
</table>

{% if submissions %}
  <h3 style="border-top:1px solid lightgray;padding-top:15px;">Grader output</h3>
  {% if latest_submission.grader_output %}
    <code><pre>{{ latest_submission.grader_output }}</code></pre>
  {% else %}
    Your code hasn't been graded yet. Try refreshing the page in a minute or two.
  {% endif %}
  <h3 style="border-top:1px solid lightgray;padding-top:15px;">Latest submission</h3>
  <code><pre>{{ latest_submission_text }}</code></pre>
{% endif %}

<h3 style="border-top:1px solid lightgray;padding-top:15px;">Submissions</h3>
<table id="submission-list" class="has-border">
  <tr>
    <th style="min-width:125px;">Date submitted</th>
    <th style="min-width:125px;">On time?</th>
    <th style="min-width:75px;">Grade</th>
  </tr>
  {% for submission in submissions %}
  <tr>
    {% if submission %}
    <td><a href="{% url 'submissions:show' submission.id %}">{{ submission.date_submitted }}</a></td>
    <td>{% if submission.is_on_time %}Yes{% else %}No{% endif %}</td>
    <td>
      {% if submission.has_been_graded %}
      {{ submission.points_received }}/{{ submission.points_possible }} ({{ submission.grade_percent }})
      {% else %}
      <span class="italic">Not graded yet</span>
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}

  {% if not submissions %}
  <tr>
    <td colspan="4"  class="italic center">No submissions</td>
  </tr>
  {% endif %}
</table>

{% endblock %}
