{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Turn-In: {{ assignment.name }} - {{ student.full_name }}{% endblock %}

{% block main %}
<h2>{{ assignment.name }} &mdash; {{ student.full_name }} ({{ student.username }})</h2>

<table id="assignment-info">
  <tr>
    <th>On time?</th>
    <td>
      {% if not latest_submission %}
      <span style="font-style:italic;">Not yet submitted</span>
      {% elif latest_submission.is_on_time %}
      Yes
      {% else %}
      No
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Grade:</th>
    <td>
      {% if not latest_submission %}
      <span style="font-style:italic;">Not yet submitted</span>
      {% elif not latest_submission.has_been_graded %}
      Not graded yet
      {% else %}
      {{ submission.points_received }}/{{ submission.points_possible }} ({{ submission.grade_percent }})
      {% endif %}
    </td>
  </tr>
</table>

<h3>Submissions</h3>
<table id="submission-list">
  <tr>
    <th style="min-width:125px;">Date submitted</th>
    <th style="min-width:125px;">On time?</th>
    <th style="min-width:75px;">Grade</th>
  </tr>
  {% for student, submissions in submissions %}
  <tr>
    {% if submission %}
    <td>{{ submission.date_submitted }}</td>
    <td>{% if submission.is_on_time %}Yes{% else %}No{% endif %}</td>
    <td>{{ submission.points_received }}/{{ submission.points_possible }} ({{ submission.grade_percent }})</td>
    {% else %}
    <td colspan="3" style="font-style:italic;text-align:center;">No submissions</td>
    {% endif %}
  </tr>
  {% endfor %}

  {% if not submissions %}
  <tr>
    <td colspan="4" style="font-style:italic;text-align:center;">No submissions</td>
  </tr>
  {% endif %}
</table>

{% endblock %}
