{% extends "base.html" %}
{% load static %}

{% block title %}
  Turn-In: {% if assignment.is_quiz %}[QUIZ] {% endif %}{{ assignment.name }}: {{ student.username }}
{% endblock %}

{% block head %}
  <script src="{% static 'js/incomplete.js' %}"></script>
{% endblock %}

{% block main %}

  <div class="header">
    <h2 class="left">{% if assignment.is_quiz %}[QUIZ] {% endif %}{{ assignment.name }}: {{ student.full_name }}
      ({{ student.username }})</h2>
    {% if is_teacher or request.user.is_superuser %}
      <a class="right tin-btn" href="{% url 'admin:users_user_change' student.id %}">Admin (Student)</a>
    {% endif %}
  </div>

  <table id="assignment-info">
    <tr>
      <th>On time?</th>
      <td>
        {% if not latest_submission %}
          <span class="italic">Not yet submitted</span>
        {% elif latest_submission.is_on_time %}
          Yes
        {% else %}
          No
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Grade:</th>
      {% if latest_submission %}
        <td id="grade">
          {% include 'submissions/repr.html' with submission=latest_submission %}
        </td>
      {% else %}
        <td>
          <span class="italic">Not yet submitted</span>
        </td>
      {% endif %}
    </tr>
    {% if published_submission != latest_submission %}
        <tr>
          <th>Published grade:</th>
          <td id="last-grade">
            {% include 'submissions/repr.html' with submission=published_submission %}
          </td>
        </tr>
      {% endif %}
  </table>

  {% if assignment.is_quiz %}
    <h2 style="border-top:1px solid lightgray;padding-top:15px;">Quiz Log Messages</h2>
    <a class="right tin-btn" href="{% url 'assignments:clear' assignment.id student.id %}">Reset Quiz</a>
    <br><br>
    <table id="submission-list" class="has-border">
      <tr>
        <th style="min-width:125px;">Date</th>
        <th style="min-width:200px;">Content</th>
        <th style="min-width:80px;">Severity</th>
      </tr>
      {% for message in log_messages %}
        <tr>
          <td>{{ message.date }}</td>
          <td>{{ message.content }}</td>
          <td>{{ message.severity }}</td>
        </tr>
      {% endfor %}

      {% if not log_messages %}
        <tr>
          <td colspan="4" class="italic center">No log messages</td>
        </tr>
      {% endif %}
    </table>
  {% endif %}

  <h2 style="border-top:1px solid lightgray;padding-top:15px;">All Submissions</h2>
  <table id="submission-list" class="has-border">
    <tr>
      <th style="min-width:125px;">Date submitted</th>
      <th style="min-width:75px;">Grade</th>
      <th style="min-width:65px;">On time?</th>
      <th style="min-width:80px;">Completed?</th>
    </tr>
    {% for submission in submissions %}
      <tr>
        {% if submission %}
          <td><a href="{% url 'submissions:show' submission.id %}">{{ submission.date_submitted }}</a></td>
          <td id="grade">
            {% include 'submissions/repr.html' with submission=submission %}
          </td>
          <td>{% if submission.is_on_time %}Yes{% else %}No{% endif %}</td>
          <td class="{% if submission == latest_submission and not submission.complete %}incomplete{% endif %}"
              data-endpoint="{% url 'submissions:show_json' submission.id %}" data-endpoint-key="complete">
            {% if submission.complete %}Yes{% else %}No{% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}

    {% if not submissions %}
      <tr>
        <td colspan="5" class="italic center">No submissions</td>
      </tr>
    {% endif %}
  </table>

{% endblock %}
