{% extends "base.html" %}
{% load static %}

{% block head %}
{% endblock %}
{% block main %}

<h2>{% block title %}Turn-In: {{ assignment.name }}{% endblock %}</h2>

<h3>File Upload</h3>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="tbl">
    {% for field in file_form %}
      <div class="tbl-row">
        <span class="tbl-cell bold" style="vertical-align:middle;padding-right:5px;">{{ field.label_tag }}</span>
        <span class="tbl-cell">{{ field }}</span>
      </div>
    {% endfor %}
  </div>
  <input type="submit" value="Submit">
</form>
<br>
<h3>Text Upload</h3>
<form method="POST">
  {% csrf_token %}
  <div class="tbl">
    {% for field in text_form %}
      <div class="tbl-row">
        <span class="tbl-cell bold" style="vertical-align:top;padding-right:5px;">{{ field.label_tag }}</span>
        <span class="tbl-cell">{{ field }}</span>
      </div>
    {% endfor %}
  </div>
  <input type="submit" value="Submit">
</form>
{% endblock %}

