{% extends "base.html" %}
{% load static %}


{% block title %}
  Turn-In: {% if assignment.is_quiz %}[QUIZ] {% endif %}{{ assignment.name }}:
  {{ submission.student.full_name }} ({{ submission.student.username }}): Submission #{{ submission_number }}: Comment
{% endblock %}

{% block head %}
  <script type="text/javascript">
      let start;
      let end;

      // https://stackoverflow.com/a/4812022/11317931
      function getSelectionCharacterOffsetWithin(element) {
          let start = 0;
          let end = 0;
          const doc = element.ownerDocument || element.document;
          const win = doc.defaultView || doc.parentWindow;
          let sel;
          if (typeof win.getSelection != "undefined") {
              sel = win.getSelection();
              if (sel.rangeCount > 0) {
                  const range = win.getSelection().getRangeAt(0);
                  const preCaretRange = range.cloneRange();
                  preCaretRange.selectNodeContents(element);
                  preCaretRange.setEnd(range.startContainer, range.startOffset);
                  start = preCaretRange.toString().length;
                  preCaretRange.setEnd(range.endContainer, range.endOffset);
                  end = preCaretRange.toString().length;
              }
          } else if ((sel = doc.selection) && sel.type != "Control") {
              const textRange = sel.createRange();
              const preCaretTextRange = doc.body.createTextRange();
              preCaretTextRange.moveToElementText(element);
              preCaretTextRange.setEndPoint("EndToStart", textRange);
              start = preCaretTextRange.text.length;
              preCaretTextRange.setEndPoint("EndToEnd", textRange);
              end = preCaretTextRange.text.length;
          }
          return {start: start, end: end};
      }

      function resetSelection() {
          start = -1;
          end = -1;

          const commentPopup = document.getElementById("comment-popup");
          Object.assign(commentPopup.style, {
              display: `none`,
          });
      }

      function handleSelection(event, newStart, newEnd) {
          start = newStart;
          end = newEnd;

          const commentPopup = document.getElementById("comment-popup");
          Object.assign(commentPopup.style, {
              display: `none`,  // change this to `flex` to enable
              left: `${event.clientX + window.scrollX - 16}px`,
              top: `${event.clientY + window.scrollY - 45}px`,
          });
      }

      function selectHandler(event) {
          const selectionOffsets = getSelectionCharacterOffsetWithin(document.getElementById("submission"));
          const newStart = selectionOffsets.start;
          const newEnd = selectionOffsets.end;

          if (newStart === newEnd || newStart === start && newEnd === end) {
              resetSelection();
          } else {
              handleSelection(event, newStart, newEnd);
          }
      }

      window.onload = function () {
          document.getElementById("submission").addEventListener("selectionchange", selectHandler, false);
          document.getElementById("submission").addEventListener("mouseup", selectHandler, false);
          document.getElementById("submission").addEventListener("keyup", selectHandler, false);
      };

      // Use this when comments aren't form-dependent anymore
      function addComment(comment, point_override) {
          $.ajax({
              type: "POST",
              url: "{% url 'submissions:comment' submission.id %}",
              data: {
                  "comment": comment,
                  "point_override": point_override,
                  "csrfmiddlewaretoken": "{{ csrf_token }}",
              },
          });
      }
  </script>
{% endblock %}

{% block main %}

  <div class="header">
    <h2 class="left">
      {% if assignment.is_quiz %}[QUIZ] {% endif %}{{ assignment.name }}:
      {{ submission.student.full_name }} ({{ submission.student.username }}): Submission #{{ submission_number }}:
      Comment
    </h2>
    <a class="right tin-btn" href="{% url 'submissions:show' submission.id %}">View Submission</a>
  </div>

  <table id="submission-info">
    <tr>
      <th>Due:</th>
      <td>{{ assignment.due }}</td>
    </tr>
    <tr>
      <th>Submitted:</th>
      <td>{{ submission.date_submitted }}</td>
    </tr>
    <tr>
      <th>On time?</th>
      <td>
        {% if submission.is_on_time %}Yes{% else %}No{% endif %}
      </td>
    </tr>
    <tr>
      <th>Grade:</th>
      <td id="grade" class="{% if not submission.complete %}incomplete{% endif %}"
          data-endpoint="{% url 'submissions:show_json' submission.id %}" data-endpoint-key="formatted_grade">
        {% if not submission.has_been_graded %}
          <span class="result-not-graded italic">Not graded</span>
        {% else %}
          {{ submission.formatted_grade }}
        {% endif %}
      </td>
    </tr>
  </table>

  <h3 style="border-top:1px solid lightgray;padding-top:15px;">Add Comment</h3>
  <form action="{% url 'submissions:comment' submission.id %}" method="post">
    {% csrf_token %}
    <textarea name="comment" placeholder="Comment" rows="5" cols="120"></textarea>
    <br>
    <br>
    <label for="point_override">Point Override:</label>
    <input type="number" name="point_override" value="0" min="-999" max="999" step="1">
    <br>
    <br>
    <input type="submit" value="Add Comment">
  </form>

  <h3 style="border-top:1px solid lightgray;padding-top:15px;">Submission</h3>
  <pre id="submission-pre"><code id="submission">{{ submission_text }}</code></pre>

  <div id="comment-popup">
    <i class="fa fa-pencil-square-o"></i>
  </div>

{% endblock %}
