{% extends "base.html" %}
{% load static %}


{% block title %}
  Turn-In: {{ course.name }}: {% if assignment.is_quiz %}[QUIZ] {% endif %}{{ assignment.name }}:
  {% if is_teacher or request.user.is_superuser %}{{ student.username }}:{% endif %}
  Submission #{{ submission_number }}
{% endblock %}

{% block head %}
  <script src="{% static 'js/incomplete.js' %}"></script>
{% endblock %}

{% block main %}

  <div class="header">
    <h2 class="left">
      {% if assignment.is_quiz %}[QUIZ] {% endif %}{{ assignment.name }}:
      {% if is_student %}
        Submission #{{ submission_number }}
      {% else %}
        {{ submission.student.full_name }} ({{ submission.student.username }}): Submission #{{ submission_number }}
      {% endif %}
    </h2>
    {% if is_teacher or request.user.is_superuser %}
      <a class="right tin-btn" href="{% url 'admin:submissions_submission_change' submission.id %}">Admin</a>
      {% if submission.complete and submission.has_been_graded %}
        <a class="right tin-btn" href="{% url 'submissions:rerun' submission.id %}">Re-run</a>
        <a class="right tin-btn" href="{% url 'submissions:comment' submission.id %}">Comment</a>
      {% endif %}
    {% endif %}
  </div>

  <table id="submission-info">
    <tr>
      <th>Due:</th>
      <td>{{ assignment.due }}</td>
    </tr>
    <tr>
      <th>Submitted:</th>
      <td>{{ submission.date_submitted }}</td>
    </tr>
    <tr>
      <th>On time?</th>
      <td>
        {% if submission.is_on_time %}Yes{% else %}No{% endif %}
      </td>
    </tr>
    <tr>
      <th>Completed?</th>
      <td class="{% if not submission.complete %}incomplete{% endif %}"
          data-endpoint="{% url 'submissions:show_json' submission.id %}" data-endpoint-key="complete">
        {% if submission.complete %}Yes{% else %}No{% endif %}
      </td>
    </tr>
    <tr>
      <th>Grade:</th>
      <td id="grade" class="{% if not submission.complete %}incomplete{% endif %}"
          data-endpoint="{% url 'submissions:show_json' submission.id %}" data-endpoint-key="formatted_grade">
        {% if not submission.has_been_graded %}
          <span class="result-not-graded italic">Not graded</span>
        {% else %}
          {{ submission.html_formatted_grade | safe }}
        {% endif %}
      </td>
    </tr>
  </table>

  <h3 style="border-top:1px solid lightgray;padding-top:15px;">Grader output</h3>
  <div id="grader-output" class="code-result{% if not submission.complete %} incomplete{% endif %}"
       data-endpoint="{% url 'submissions:show_json' submission.id %}" data-endpoint-key="grader_output">
    <div class="result">
      <pre><code>{{ submission.grader_output }}</code></pre>
    </div>
    {% if not submission.complete %}
      <div class="continuous-progress"></div>
    {% endif %}
  </div>

  {% if is_teacher or request.user.is_superuser %}
    <h3 style="border-top:1px solid lightgray;padding-top:15px;">Grader errors</h3>
    <div id="grader-errors" class="code-result{% if not submission.complete %} incomplete{% endif %}"
         data-endpoint="{% url 'submissions:show_json' submission.id %}" data-endpoint-key="grader_errors">
      <div class="result">
        <pre><code>{{ submission.grader_errors }}</code></pre>
      </div>
      {% if not submission.complete %}
        <div class="continuous-progress"></div>
      {% endif %}
    </div>
  {% endif %}

  {% if submission_comments %}
    <h3 style="border-top:1px solid lightgray;padding-top:15px;">Comments</h3>
    <table id="comment-list" class="has-border">
      <tr>
        <th style="min-width:125px;">Date added</th>
        <th style="min-width:65px;">Author</th>
        <th style="min-width:80px;">Text</th>
        <th style="min-width:90px;">Point Override</th>
      </tr>
      {% for comment in submission_comments %}
        <tr>
          <td><span>{{ comment.date }}</span></td>
          <td><span>{{ comment.author.full_name }} ({{ comment.author.username }})</span></td>
          <td><span>{{ comment.text }}</span></td>
          <td><span>{{ comment.point_override }}</span></td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if not submission.complete %}
    <div class="conditional-result incomplete italic" data-endpoint="{% url 'submissions:show_json' submission.id %}"
         data-endpoint-key="kill_requested" {% if not submission.kill_requested %}style="display: none"{% endif %}
         data-hide-when-complete="true">
      <br>
      This submission is in the process of being killed. This should complete within 15 seconds. If it does not, please
      email the tin administrators.
    </div>

    {% if not submission.kill_requested %}
      <div class="conditional-result incomplete" data-endpoint="{% url 'submissions:show_json' submission.id %}"
           data-endpoint-key="kill_requested" data-result-negate="true" data-hide-when-complete="true">
        <br>
        {% csrf_token %}
        <form method="post"
              action="{% url 'submissions:kill' submission.id %}?next={{ request.get_full_path | urlencode }}">
          {% csrf_token %}
          <input type="submit" value="Kill submission">
        </form>
      </div>
    {% endif %}
  {% endif %}

  <h3 style="border-top:1px solid lightgray;padding-top:15px;">Submission</h3>
  <pre><code>{{ submission_text }}</code></pre>

{% endblock %}
