{% extends "base.html" %}
{% load static %}


{% block title %}
  Turn-In: {% if assignment.is_quiz %}[QUIZ] {% endif %}{{ assignment.name }}:
      {% if is_student %}
        Submission #{{ submission_number }}
      {% else %}
        {{ submission.student.full_name }} ({{ submission.student.username }}): Submission #{{ submission_number }}
      {% endif %}
{% endblock %}

{% block head %}
  <script src="{% static 'js/incomplete.js' %}"></script>
  <script src="{% static 'js/submissions-overview.js' %}"></script>
  <script type="text/javascript">
      let start;
      let end;

      // https://stackoverflow.com/a/4812022/11317931
      function getSelectionCharacterOffsetWithin(element) {
          let start = 0;
          let end = 0;
          const doc = element.ownerDocument || element.document;
          const win = doc.defaultView || doc.parentWindow;
          let sel;
          if (typeof win.getSelection != "undefined") {
              sel = win.getSelection();
              if (sel.rangeCount > 0) {
                  const range = win.getSelection().getRangeAt(0);
                  const preCaretRange = range.cloneRange();
                  preCaretRange.selectNodeContents(element);
                  preCaretRange.setEnd(range.startContainer, range.startOffset);
                  start = preCaretRange.toString().length;
                  preCaretRange.setEnd(range.endContainer, range.endOffset);
                  end = preCaretRange.toString().length;
              }
          } else if ((sel = doc.selection) && sel.type != "Control") {
              const textRange = sel.createRange();
              const preCaretTextRange = doc.body.createTextRange();
              preCaretTextRange.moveToElementText(element);
              preCaretTextRange.setEndPoint("EndToStart", textRange);
              start = preCaretTextRange.text.length;
              preCaretTextRange.setEndPoint("EndToEnd", textRange);
              end = preCaretTextRange.text.length;
          }
          return {start: start, end: end};
      }

      function resetSelection() {
          start = -1;
          end = -1;

          const commentPopup = document.getElementById("comment-popup");
          Object.assign(commentPopup.style, {
              display: `none`,
          });
      }

      function handleSelection(event, newStart, newEnd) {
          start = newStart;
          end = newEnd;

          const commentPopup = document.getElementById("comment-popup");
          Object.assign(commentPopup.style, {
              display: `none`,  // change this to `flex` to enable
              left: `${event.clientX + window.scrollX - 16}px`,
              top: `${event.clientY + window.scrollY - 45}px`,
          });
      }

      function selectHandler(event) {
          const selectionOffsets = getSelectionCharacterOffsetWithin(document.getElementById("submission"));
          const newStart = selectionOffsets.start;
          const newEnd = selectionOffsets.end;

          if (newStart === newEnd || newStart === start && newEnd === end) {
              resetSelection();
          } else {
              handleSelection(event, newStart, newEnd);
          }
      }

      window.onload = function () {
          document.getElementById("submission").addEventListener("selectionchange", selectHandler, false);
          document.getElementById("submission").addEventListener("mouseup", selectHandler, false);
          document.getElementById("submission").addEventListener("keyup", selectHandler, false);
      };

      // Use this when comments aren't form-dependent anymore
      function addComment(comment, point_override) {
          $.ajax({
              type: "POST",
              url: "{% url 'submissions:comment' submission.id %}",
              data: {
                  "comment": comment,
                  "point_override": point_override,
                  "csrfmiddlewaretoken": "{{ csrf_token }}",
              },
          });
      }
  </script>
{% endblock %}

{% block main %}

  <div class="header">
    <h2 class="left">
      {% if assignment.is_quiz %}[QUIZ] {% endif %}{{ assignment.name }}:
      {% if is_student %}
        Submission #{{ submission_number }}
      {% else %}
        {{ submission.student.full_name }} ({{ submission.student.username }}): Submission #{{ submission_number }}
      {% endif %}
    </h2>
    {% if is_teacher or request.user.is_superuser %}
      {% if request.user.is_superuser %}
        <a class="right tin-btn" href="{% url 'admin:submissions_submission_change' submission.id %}">Admin</a>
      {% endif %}
      <a class="right tin-btn" href="{% url 'submissions:rerun' submission.id %}">Rerun</a>
      {% if submission.is_published %}
        <a class="right tin-btn" href="{% url 'submissions:unpublish' submission.id %}">Unpublish</a>
      {% else %}
        <a class="right tin-btn" href="{% url 'submissions:publish' submission.id %}">Publish</a>
      {% endif %}
    {% endif %}
  </div>

  <table id="submission-info">
    <tr>
      <th>Due:</th>
      <td>{{ assignment.due }}</td>
    </tr>
    <tr>
      <th>Submitted:</th>
      <td>{{ submission.date_submitted }}</td>
    </tr>
    <tr>
      <th>On time?</th>
      <td>
        {% if submission.is_on_time %}Yes{% else %}No{% endif %}
      </td>
    </tr>
    <tr>
      <th>Completed?</th>
      <td class="{% if not submission.complete %}incomplete{% endif %}"
          data-endpoint="{% url 'submissions:show_json' submission.id %}" data-endpoint-key="complete">
        {% if submission.complete %}Yes{% else %}No{% endif %}
      </td>
    </tr>
    <tr>
      <th>Grade:</th>
      <td id="grade" class="{% if not submission.complete %}incomplete{% endif %}"
          data-endpoint="{% url 'submissions:show_json' submission.id %}" data-endpoint-key="formatted_grade">
        {% include 'submissions/repr.html' with submission=submission %}
      </td>
    </tr>
  </table>

  {% if is_teacher or request.user.is_superuser %}
    <div class="submissions-overview float-right d-none d-lg-table">
      <div class="scrolling">
        <table id="submission-list" class="has-border" style="margin-left: auto; height: 100%">
          <tr>
            <th style="border: none;"></th>
            <th style="min-width:125px;">Date submitted</th>
            <th style="min-width:75px;">Grade</th>
          </tr>
          {% for table_submission in submissions %}
            <tr>
              <td style="border: none;">
                {% if table_submission.id == submission.id %}
                  <i class="fa fa-chevron-right"></i>
                {% endif %}
              </td>
              <td><a href="{% url 'submissions:show' table_submission.id %}">{{ table_submission.date_submitted }}</a></td>
              <td id="grade">
                {% include 'submissions/repr.html' with submission=table_submission %}
              </td>
            </tr>
          {% endfor %}

          {% if not submissions %}
            <tr>
              <td></td>
              <td colspan="2" class="italic center">No submissions</td>
            </tr>
          {% endif %}
        </table>
      </div>
      <a class="submissions-overview-expand" onclick="expand();"></a>
      <a class="submissions-overview-collapse" onclick="collapse();">Collapse >></a>
    </div>
  {% endif %}

  <h2 style="border-top:1px solid lightgray;padding-top:15px;">Grader Output</h2>
  <div id="grader-output" class="code-result{% if not submission.complete %} incomplete{% endif %}"
       data-endpoint="{% url 'submissions:show_json' submission.id %}" data-endpoint-key="grader_output">
    <div class="result">
      <pre><code class="nohljsln">{{ submission.grader_output }}</code></pre>
    </div>
    {% if not submission.complete %}
      <div class="continuous-progress"></div>
    {% endif %}
  </div>

  {% if is_teacher or request.user.is_superuser %}
    <h2 style="border-top:1px solid lightgray;padding-top:15px;">Grader Errors</h2>
    <div id="grader-errors" class="code-result{% if not submission.complete %} incomplete{% endif %}"
         data-endpoint="{% url 'submissions:show_json' submission.id %}" data-endpoint-key="grader_errors">
      <div class="result">
        <pre><code class="nohljsln">{{ submission.grader_errors }}</code></pre>
      </div>
      {% if not submission.complete %}
        <div class="continuous-progress"></div>
      {% endif %}
    </div>
  {% endif %}

  {% if submission_comments %}
    <h2 style="border-top:1px solid lightgray;padding-top:15px;" id="comments">Comments</h2>
    <table id="comment-list" class="has-border">
      <tr>
        <th style="min-width:125px;">Date added</th>
        <th style="min-width:65px;">Author</th>
        <th style="min-width:80px;">Text</th>
        <th style="min-width:90px;">Point Override</th>
      </tr>
      {% for comment in submission_comments %}
        <tr>
          <td><span>{{ comment.date }}</span></td>
          <td><span>{{ comment.author.full_name }} ({{ comment.author.username }})</span></td>
          <td><span>{{ comment.text | linebreaksbr }}</span></td>
          <td><span>{{ comment.point_override }}</span></td>
          {% if is_teacher or request.user.is_superuser %}
            <td><a href="{% url 'submissions:edit_comment' submission.id comment.id %}">Edit</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if submission.complete and submission.has_been_graded %}
    {% if is_teacher or request.user.is_superuser %}
      <h2 style="border-top:1px solid lightgray;padding-top:15px;">Add Comment</h2>
      <form action="{% url 'submissions:comment' submission.id %}" method="post">
        {% csrf_token %}
        <textarea name="comment" placeholder="Comment" rows="5" cols="120"></textarea>
        <br>
        <br>
        <label for="point_override">Point Override:</label>
        <input type="number" name="point_override" value="0" min="-999" max="999" step="0.5">
        <br>
        <br>
        <input type="submit" value="Add Comment (and publish)">
      </form>
    {% endif %}
  {% endif %}

  {% if not submission.complete %}
    <div class="conditional-result incomplete italic" data-endpoint="{% url 'submissions:show_json' submission.id %}"
         data-endpoint-key="kill_requested" {% if not submission.kill_requested %}style="display: none"{% endif %}
         data-hide-when-complete="true">
      <br>
      This submission is in the process of being killed. This should complete within 15 seconds. If it does not, please
      email the tin administrators.
    </div>

    {% if not submission.kill_requested %}
      <div class="conditional-result incomplete" data-endpoint="{% url 'submissions:show_json' submission.id %}"
           data-endpoint-key="kill_requested" data-result-negate="true" data-hide-when-complete="true">
        <br>
        {% csrf_token %}
        <form method="post"
              action="{% url 'submissions:kill' submission.id %}?next={{ request.get_full_path | urlencode }}">
          {% csrf_token %}
          <input type="submit" value="Kill submission">
        </form>
      </div>
    {% endif %}
  {% endif %}

  <h2 style="border-top:1px solid lightgray;padding-top:15px;">Submission</h2>
  <a class="left tin-btn" href="{% url 'submissions:download' submission.id %}">Download</a>
  <pre><code>{{ submission_text }}</code></pre>

{% endblock %}
