name: CI
on:
  - push
  - pull_request

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - 3.8

    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server

    steps:
      - name: Set up repo
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pipenv

      - name: Install pipenv
        run: pip install pipenv

      # we have to check this first because
      # installing autofixes the lock
      - name: Check Pipfile.lock
        run: pipenv verify

      - name: Install dependencies
        run: pipenv install --dev --deploy

      - name: Run Tests
        run: pipenv run coverage run -m pytest

      - name: Run Coveralls
        uses: AndreMiras/coveralls-python-action@develop
        with:
          parallel: true
          flag-name: Pyenv Unit Tests

  test_success:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Handle Coveralls Finish
        uses: AndreMiras/coveralls-python-action@develop
        with:
          github-token: ${{ secrets.COVERALLS_REPO_TOKEN }}
          parallel-finished: true

  docs:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - 3.8

    steps:
      - name: Set up repo
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pipenv

      - name: Install pipenv
        run: pip install pipenv

      - name: Install dependencies
        run: pipenv install --dev

      - name: Build Docs
        run: |
          cd docs
          pipenv run make html
